
 .maindiv{
     font-style:oblique;
     text-align: center;
 }
  .input{
      font-size:15px;
      padding: 5px;
  }
  .btn{
      margin: 1.5%;
      padding: 5px;

  }
  .reset{
    padding: 5px;
    line-break:auto;
  }
  
 .lists{
     text-align:center;
     color: darkcyan;
 }
 .logo{
     margin-left: 40%;
 }